// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('../font/RFRufo-Regular/style.css');
$main-font: 'RF Rufo', sans-serif;
$black-color: #000;
$white-color: #fff;
$body-bg-color: #181818;
$navbar-bg-color: #151515;
$green-color: #01B601;